################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/berufsschule/FileContentIndex/f3209ee8-1cc6-4330-865a-19a2fe2cf7b0.vsidx
